/* nav 1 type */

body{
        font-family:serif;
        margin: 0;
        padding: 20px;
        background-color: darkslategray;
        color: beige;
}
    

h2{
        margin-bottom: 40px;
        color: lightpink;
}

.nav-container{
        margin-bottom: 20px;
}

.nav1{   
        background-color: cornflowerblue;
        padding: 10px;
} 

.nav1 ul{
        list-style:none;
        display: flex;
        justify-content: space-around;
        margin: 0; padding: 0;
}


.nav1 li{
    display: inline;
}


.nav1 a{
    text-decoration: wavy;
    /* background-color: blanchedalmond; */
    position: relative;
}


.nav1 a::after{
    content: "navbar";
    position: absolute;
    height: 18px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #181c1b;
    transform: scaleX(0);
    transition: transform 0.3s
    ease-in-out;
}

.nav a:hover::after{
    transform: scaleX(1);
}


.nav1 .nav-button{
    color: rgb(0, 0, 0);
    background: #9fe4f0;
}


